.App{
  width: 100vw;
  min-height: 100vh;
  background-image: url(/src/starter-code/assets/home/background-home-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}