.crew{
    width: 100vw;
    min-height: 100vh;
    background-image: url(/src/starter-code/assets/crew/background-crew-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 170px;
}

@media screen and (min-width: 768px){
    .crew{
        background-image: url(/src/starter-code/assets/crew/background-crew-tablet.jpg);
    }
}

@media screen and (min-width: 1024px){
    .crew{
        background-image: url(/src/starter-code/assets/crew/background-crew-desktop.jpg);
    }
}

.crew-section{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-inline: 30px;
}

.crew-preview-text{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 2px;
}

.crew-preview-text strong{
    width: 100%;
    text-align: center;
    color: gray;
    margin-right: 10px;
}

.crew-image-wrapper{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.crew-image{
    height: 90%;
}

.crew-list{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.crew-list-items{
    list-style-type: none;
    background-color: rgba(128, 128, 128, 0.4);
    width: 10px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.active-crew{
    background-color: #FFFFFF;
}

.inactive-crew:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

.crew-link{
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.crew-title{
    width: 100%;
    font-weight: normal;
    text-transform: uppercase;
    color: darkgray;
    text-align: center;
    font-size: 18px;
    margin-block: 10px;
}

.crew-name{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.crew-about{
    width: 100%;
    text-align: center;
    margin-block: 10px;
    line-height: 25px;
    max-width: 50ch;
    margin: auto;
}

@media screen and (min-width: 768px) {

    .crew-section{
        height: calc(100vh - 170px);
        justify-content: space-between;
    }

    .crew-preview-text{
        text-align: left;
    }

    .crew-image-wrapper{
        order: 2;
        height: 60vh;
        border-bottom: none;
    }

    .crew-list{
        order: 1;
    }

    .crew-title{
        font-size: 25px;
    }

    .crew-name{
        font-size: 40px;
    }

    .crew-about{
        margin: 10px auto;
    }
}

@media screen and (min-width: 1024px) {

    .crew-section{
        display: grid;
        max-width: 1440px;
        margin-inline: auto;
        grid-template-columns: 5% 45% 50%;
        grid-template-rows: 100px 1fr 3fr 1fr 2fr 2fr 2fr 1fr 2fr;
        grid-template-areas: 
        ". . image"
        ". preview image"
        ". . image"
        ". title image"
        ". name image"
        ". about image"
        ". . image"
        ". links image"
        ". . image"
        ;
        
    }

    .crew-preview-text{
        grid-area: preview;
        font-size: 30px;
    }
    
    .crew-image-wrapper{
        height: 100%;
        grid-area: image;
    }

    .crew-image{
        height: 100%;
    }
    
    .crew-list{
        width: 100%;
        justify-content: flex-start;
        grid-area: links;
    }
    
    .crew-title{
        text-align: left;
        grid-area: title;
        font-size: 35px;
    }
    
    .crew-name{
        text-align: left;
        grid-area: name;
        font-size: 60px;
    }
    
    .crew-about{
        grid-area: about;
        width: 100%;
        line-height: 40px;
        font-size: 20px;
        margin: 0px auto 0px 0;
        text-align: left;
    }

    .crew-list-items{
        width: 20px;
    }
}