.home{
    width: 100vw;
    min-height: 100vh;
    background-image: url(/src/starter-code/assets/home/background-home-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
}

@media screen and (min-width: 768px){
    .home{
        background-image: url(/src/starter-code/assets/home/background-home-tablet.jpg);
    }
}

@media screen and (min-width: 1024px){
    .home{
        background-image: url(/src/starter-code/assets/home/background-home-desktop.jpg);
    }
}

.home-section{
    width: 100%;
    min-height: calc(100vh - 150px);
    display: flex;
    align-items: center;
}

.home-container{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}

.home-text-wrapper{
    width: 100%;
    height: 60%;
    max-width: 480px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 2vh;
    align-items: center;
    text-align: center;
}

.home-heading{
    text-transform: uppercase;
    font-size: 175px;
    /* box-sizing: unset; */
}

.subheading{
    font-size: 20px; 
    text-transform: uppercase;  
}

.home-heading{
    text-transform: uppercase;
    font-size: 100px;
    margin: 0;
}

.home-paragraph{
    line-height: 30px;
    padding: 10px;
    width: 90%;
    max-width: 50ch;
}

.explore-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40%;
    width: 100%;
    margin-block: 10px;
    max-width: 480px;
    /* background-color: red; */
}

.explore{
    width: 33%;
    padding: 10px;
    color: #0B0D17;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 25px;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    background-color: #FFFFFF;
    box-sizing: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* .explore a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */

.explore:hover{
    box-shadow: 0 0 0 120px rgba(200, 200, 200, 0.1);
}

@media screen and (min-width: 768px){
    .explore{
        font-size: 35px;
    }

    .home-paragraph{
        font-size: larger;
    }

    .home-text-wrapper{
        margin-top: 50px;
    }

    .explore{
        width: 60%;
    }
}

@media screen and (min-width: 1024px){
    .home-paragraph{
        text-align: left;
    }
    
    .home-heading, .subheading, .home-paragraph{
        text-align: left;
        width: 100%;
        /* background-color: red; */
    }

    .home-container{
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 200px;
        padding-left: 100px;
    }

    .explore{
        width: 50%;
        /* background-color: blue; */
    }
}

@media screen and (min-width: 1440px){
    .home-container{
        padding-inline: 100px;
        max-width: 1440px;
    }

    .explore{
        width: 70%;
        /* background-color: blue; */
    }

    .subheading{
        font-size: 25px;
    }

    .home-heading{
        font-size: 150px;
    }

    .home-paragraph{
        line-height: 35px;
        font-size: 25px;
        max-width: 60ch;
    }

    
}