@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bellefair&display=swap');


body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Bellefair', serif;
}

span, p, button, a{
  font-family: 'Barlow', sans-serif;
  color: #D0D6F9;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@media screen and (min-width: 768px){
}