.navbar{
    width: 100%;
    height: 100px;
}

.nav-container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /* padding: 10px 20px; */
}

.logo-icon{
    height: 55px;
    margin-inline: 20px;
}

.toggle-list{
    margin-inline: 20px;
    background-color: none;
    border: none;
    background-color: transparent;
    height: 80px;
    width: fit-content;
}

.toggle-list > img{
    height: 40%;
}

.sidebar{
    width: 75vw;
    height: 100vh;
    height: 100vh;
    position: fixed;
    left: 100vw;
    top: 0px;
    display: block;
    transition: 350ms;
}

.sidebar-container{
    width: 100%;
    height: 100%;
    padding-inline: 30px;
    background: inherit;
    background-color: rgba(150, 150, 150, .2);  
    backdrop-filter: blur(30px);
}

.close-button-wrapper{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#close-sidebar{
    height: 30px;
}

#close-sidebar img{
    height: 100%;
}

.sidebar-list{
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.sidebar-list-items{
    list-style-type: none;
}

.side-link{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 18px;
}

.side-link strong{
    margin-right: 15px;
}

.nav-list{
    height: 100%;
    display: none;
    width: max(50vw, 500px);
    margin: 0;
    padding: 0;
    background-color: rgba(150, 150, 150, .2);
    text-transform: uppercase; 
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
}

.nav-list-items{
    height: 100%;
    display: flex;
    align-items: center;
}

.active-page{
    border-bottom: 5px solid #FFFFFF;
}

.nav-link{
    text-decoration: none;
    /* font-stretch: extra-condensed; */
}

.nav-line{
    display: none;
    position: absolute;
    background-color: gray;
    /* background-color: white; */
    height: 1px;
    width: 80%;
    top: 50%;
    right: 95%;
    border: none;
}


@media screen and (min-width: 768px){
    .toggle-list{
        display: none;
    }

    .nav-list{
        display: flex;
    }
}

@media screen and (min-width: 1024px){
    .nav-line{
        display: block;
    }
}