.navbar{
    width: 100%;
    height: 100px;
}

.container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
}

.logo-icon{
    height: 55px;
}

#toggle-list{
    background-color: none;
    border: none;
    background-color: transparent;
    height: 80px;
    width: fit-content;
}

#toggle-list > img{
    height: 40%;
}